/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}
  
/* The whole bar */
#waybar {
    background: #192330;
    color: #dfdfe0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent; 
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

@keyframes blink-warning {
    to {
        color: #dfdfe0;
        background-color: #f4a261;
    }
}

@keyframes blink-critical {
    to {
        color: #dfdfe0;
        background-color: #d12d56;
    }
}

#mode,
#custom-media,
#idle_inhibitor,
#custom-bluetooth,
#pulseaudio.sink,
#pulseaudio.source,
#backlight,
#memory,
#cpu,
#disk,
#network,
#network.wireguard,
#temperature,
#battery,
#clock,
#tray
{
    padding: 0 6px;
    margin: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#custom-media {
    color: #66cc99;
    min-width: 100px;
}

#custom-media.custom-spotify {
    color: #66cc99;
}

#custom-media.custom-vlc {
    color: #ffa000;
}

#idle_inhibitor.activated {
    color: #9966ff;
}

#custom-bluetooth.disconnected {
    color: #ff5050;
}

#custom-bluetooth.connected {
    color: #6699ff;
}

#pulseaudio.sink.sink-muted {
    color: #f53c3c; 
}

#pulseaudio.source {
    color: #33cc33;
}

#pulseaudio.source.source-muted {
    color: #f53c3c;
}

#backlight {
    color: #ffff66;
}

#memory.warning {
    color: #f4a261;
}

#memory.critical {
    color: #d12d56;
    font-weight: bold;
}

#cpu.warning {
    color: #f4a261;
}

#cpu.critical {
    color: #d12d56;
    font-weight: bold;
}

#network {
    color: #2980b9;
}

#network.disconnected {
    color: #f53c3c;
}

#network.wireguard {
    color: #00cc66;
}

#network.wireguard.disconnected {
    color: #ff3333;
}

#temperature.critical {
    color: #d12d56;
    font-weight: bold;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #f4a261;
    font-weight: bold;
}

#battery.critical {
    color: #d12d56;
    font-weight: bold;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 1s;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    padding-top: 4px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

label:focus {
    background-color: #000000;
}
