profile default {
    output eDP-1 enable mode 1920x1080@60Hz position 0,0
}
profile desk-3s {
    output eDP-1 disable
    output "{{ .output_left }}" enable scale 1.6 mode 3840x2160@60Hz position 0,0
    output "{{ .output_middle }}" enable mode 1920x1080@143.766Hz position 2400,0
    output "{{ .output_right }}" enable mode 1920x1080@60Hz position 4320,0
    exec swaymsg workspace number 1, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 2, move workspace to output '"{{ .output_left }}"'
    exec swaymsg workspace number 3, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 4, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 5, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 6, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 9, move workspace to output '"{{ .output_left }}"'
}
profile desk-2s-right {
    output eDP-1 disable
    output "{{ .output_middle }}" enable mode 1920x1080@143.766Hz position 0,0
    output "{{ .output_right }}" enable mode 1920x1080@60Hz position 1920,0
    exec swaymsg workspace number 1, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 2, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 3, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 4, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 5, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 6, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 9, move workspace to output '"{{ .output_right }}"'
}
profile desk-3s-laptop {
    output "{{ .output_left }}" enable scale 1.6 mode 3840x2160@60Hz position 0,0
    output eDP-1 enable scale 1.2 mode 1920x1080@60Hz position 2400,0
    output "{{ .output_right }}" enable mode 1920x1080@60Hz position 4320,0
    exec swaymsg workspace number 1, move workspace to output eDP-1
    exec swaymsg workspace number 2, move workspace to output '"{{ .output_left }}"'
    exec swaymsg workspace number 3, move workspace to output eDP-1
    exec swaymsg workspace number 4, move workspace to output eDP-1
    exec swaymsg workspace number 5, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 6, move workspace to output '"{{ .output_right }}"'
    exec swaymsg workspace number 9, move workspace to output '"{{ .output_left }}"'
}
profile desk-2s-laptop {
    output "{{ .output_left }}" enable scale 1.6 mode 3840x2160@60Hz position 0,0
    output eDP-1 scale 1.2 enable mode 1920x1080@60Hz position 2400,0
    exec swaymsg workspace number 1, move workspace to output eDP-1
    exec swaymsg workspace number 2, move workspace to output '"{{ .output_left }}"'
    exec swaymsg workspace number 3, move workspace to output eDP-1
    exec swaymsg workspace number 4, move workspace to output eDP-1
    exec swaymsg workspace number 5, move workspace to output eDP-1
    exec swaymsg workspace number 6, move workspace to output eDP-1
    exec swaymsg workspace number 9, move workspace to output '"{{ .output_left }}"'
}
profile desk-2s-left {
    output eDP-1 disable
    output "{{ .output_left }}" enable scale 1.6 mode 3840x2160@60Hz position 0,0
    output "{{ .output_middle }}" enable mode 1920x1080@143.766Hz position 2400,0
    exec swaymsg workspace number 1, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 2, move workspace to output '"{{ .output_left }}"'
    exec swaymsg workspace number 3, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 4, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 5, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 6, move workspace to output '"{{ .output_middle }}"'
    exec swaymsg workspace number 9, move workspace to output '"{{ .output_left }}"'
}
